@charset "UTF-8";

.bigTitle{
    margin: 0 auto;
    width: 315px;
    text-align: center;
    align-items: center;
}
.container{
    width:78%;
    margin-top: 5px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}
h1{
    color: blue;
}
h3{
    color:gray;
}
.erroremail{
    color: red;
}
.loginBox{
    margin: auto;
    width: 50%;
    text-align: center;
    height:400px;
}

.spanBox{
    padding:5px;
    margin: 5px;
    border: 10px;
}

.inputFields{
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.loginError{
    color: red;  
}
.buttons{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.linkHref{
    font-size: 15px;
}
.header{
    top: 0;
    width: auto;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: royalblue;
    color: white;
    height: 35px;
    display: block;
}

.column{
    flex:20%;
    padding: 20px;
    border-style: ridge;
    
}
@media screen and (max-width: 700px){
    .column{
        flex: 50%;
    }
}
@media screen and (max-width: 400px){
    .container{ 
        flex-direction: column;
    }
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 90%;
    overflow: auto;
    border-style: ridge;
  }
  .sidebar a {
    display: block;
    color: black;
    padding: 30px;
    text-decoration: none;
}
.sidebar a.active {
    background-color: skyblue;
    color: white;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
.selected{
    background-color: skyblue;
    height:30px;
    margin:10px;
    padding: 20px;
}
